@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

/***************INDEX PAGE STYLES***************/
.card {
        width: calc(33.33% - 20px);
        box-sizing: border-box;
        border: 1px solid #000000;
        padding: 20px;
        margin: 10px;
        display: inline-block;
        text-align: center;
      }
.card img {
	width: 50%;
	height: auto;
	max-height: 150px;
	margin: 10px;
	border-radius: 10px;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.load-btn {
  background-color:darksalmon;
  color: white;
  border: none;
  font-size: 18px;
  padding: 10px 20px;
}
.load-btn:hover {
  background-color: gainsboro;
}

/***************PET PAGES STYLES***************/

.container {
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: flex;
  padding: 1rem;
}
.col {
  width: 60%;
  padding-left: 3%;
  padding-right: 3%;
  align-items: center;
}
.col h3,
h5 {
  margin: 5%;
  text-align: center;
}
.colpic {
  width: 40%;
}
.pic {
  width: 100%;
  margin-top: 20%;
}
a {
  color: darksalmon;
  text-decoration: none;
}
.centerText {
  text-align: center;
}
.centerContent {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .col {
    width: 100%;
  }

  .colpic {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .pic {
    width: 18rem;
  }
}
